.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #0ee953; /* green */
  color: white;
}

.nav-links a {
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.login-btn {
  padding: 0.4rem 0.8rem;
  background-color: #0a7c2e; /* darker green */
  border-radius: 5px;
}
